@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

* {
  box-sizing: border-box;
}
body {
  position: relative;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../assests/images/timerBackground.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Comfortaa", cursive;
}
.timer-section {
  position: absolute;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

  background: url("../assests/images/colorfull.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 50%;
  height: 80vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  @media (max-width: 768px) {
    height: 60vh;
    width: 50vw;
  }
  @media (max-width: 576px) {
    height: 500px;
    width: 700px;
  }

  #timer {
    display: flex;
    flex-wrap: wrap;
    font-size: 5rem;
    justify-content: center;
    align-items: center;
    @media (max-width: 768px) {
      font-size: 5rem;
    }
    // @media (max-width: 576px) {
    //   font-size: 2rem;
    // }
  }
}
.action-button {
  display: flex;

  button {
    font-size: 1.8rem;
    border-radius: 50%;
    margin: 0 10px;
    width: 8vw;
    height: 15vh;
    border: none;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);

    background-image: url("../assests/images/timerBackground.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    transition: all 0.4s ease-in-out;
    @media (max-width: 576px) {
      font-size: 0.8rem;
      width: 10vw;
      height: 5vh;
    }

    &:hover {
      transform: scale(1.1);
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}
